ul {
  list-style: none;
}

li {
  text-align: left;
  padding: 5px;
  height: 240px;
  width: 280px;
  background: hsla(200, 30%, 30%, .4);
  margin: 15px;
  float: left;
  border-radius:20px;
}

li:nth-child(2n+0) { 
  clear: left;
}

.spark {
 float: right;
 clear: right;
}
