ul {
  list-style: none;
}

li {
  text-align: center;
  height: 150px;
  width: 220px;
  background: hsla(200, 30%, 30%, .4);
  margin: 15px;
  float: left;
  border-radius:20px;
}

li:nth-child(2n+0) { 
  clear: left;
}
