ul {
  padding: 0;
  position: 0;
  list-style: none;
}

li {
  text-align: left;
  padding: 5px;
  height: 240px;
  width: 280px;
  background: hsla(200, 30%, 30%, .4);
  margin: 2%;
  float: left;
  border-radius:20px;
  font: 25px sans-serif;
  font-family: Impact;
}

svg {
  font: 10px sans-serif;
}

li:nth-child(7n) { 
  clear: left;
}

.spark {
  float: right;
  clear: right;
}

.warnings {
  background: rgb(200, 100, 100);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

