<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="static/crashdash.css" rel="stylesheet" type="text/css"
     media="all">
    <title>Crash Dash</title>
  </head>
  <body>
    <header>
      <h1>Crash Dash</h1>
    </header>
    <main>
      <ul id="warning"></ul>
      <ul id="product-list"></ul>
    </main>
  <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.0/d3.min.js"></script>
  <script src="static/crashdash.js"></script>
  </body>
</html>
