<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/crashdash.css">
    <title>Crash Dash</title>
  </head>
  <body>
    <header>
      <article class="warnings" id="warnings"></article>
    </header>
    <main>
      <article><ul id="product-list"></ul></article>
      <article class="report" id="topcrasher">
        <div id="close-report">x</div>
      </article>
    </main>
    <script src="static/d3.min.js"></script>
    <script src="static/graph.js"></script>
    <script src="static/crashdash.js"></script>
  </body>
</html>
